body{
  color:white;
  background-color: black;
}
#world-menu{
  float:right;
}

.activity{
  display: inline-block;
  background-color:#88F;
  color:black;
  border:1px solid white;
  margin: 5px;
  padding: 5px;
}
