body{
  color:white;
  background-color: black;
}
#world-menu{
  float:right;
}

.heart-chamber{
  display: inline-block;
  border: 1px solid white;
  width: 60px;
  height: 60px;
  margin-right: 2px;
}

.activity{
  display: inline-block;
  background-color:#88F;
  color:black;
  border:1px solid white;
  margin: 5px;
  padding: 5px;

  &.heart-activity{
    background-color:#F88;
  }
}

.page-link{
  display: inline;
  text-decoration: underline;
  color: #BCF;
  cursor: pointer;
  &:hover {
    color: #CDF;
  }
  &:active {
    color: #99C;
  }
}
